Flask==0.10.1
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.18
SQLAlchemy==0.9.4
Twisted==14.0.0
Werkzeug==0.9.4
alembic==0.6.4
autobahn==0.8.12
backports.ssl-match-hostname==3.4.0.2
itsdangerous==0.23
pep8==1.4.6
pymongo==2.7.1
requests==2.2.1
six==1.7.3
websocket-client==0.16.0
wsgiref==0.1.2
zope.interface==4.1.1
