[[ extends 'base.html' ]]

[[ block body ]]
<div ng-app="riderApp">
    <div ng-controller="RiderController">
        <div class="row header">

            <div class="small-4 columns">
                <h3>New Rider</h3>
                <label>Name
                    <input type="text" ng-model="new_rider.name">
                </label>
                <div class="row">

                    <div class="small-6 columns">
                        <label>Number
                            <input type="text" ng-model="new_rider.number">
                        </label>
                    </div>

                    <div class="small-6 columns">
                        <label>Bike Type
                            <select ng-model="new_rider.bike_type"
                                ng-options="type for type in bike_types">
                            </select>
                        </label>
                    </div>

                </div>
                <button class="btn" ng-click="create_rider()">Create</button>
            </div>

            <div class="small-4 columns">
                <h3>Riders</h3>
                <div ng-repeat="rider in riders">
                    <a href="#" ng-click="select_rider(rider.number)">{{ rider.name }}</a>
                </div>
            </div>

            <div class="small-4 columns">
                <h3>Selected</h3>
                <label>Name
                    <input type="text" ng-model="selected.name" value="{{ selected.name }}">
                </label>
                <div class="row">

                    <div class="small-6 columns">
                        <label>Number
                            <input type="text" ng-model="selected.number" value="{{ selected.number }}">
                        </label>
                    </div>

                    <div class="small-6 columns">
                        <label>Bike Type
                            <select ng-model="selected.bike_type"
                                ng-options="type for type in bike_types">
                            </select>
                        </label>
                    </div>

                </div>
                <button class="btn" ng-click="update_rider()">Update</button>
            </div>
        </div>
    </div>
</div>
<script src="static/vendor/angular/angular.min.js"></script>
<script src="static/vendor/lodash/dist/lodash.min.js"></script>
<script src="static/js/riderApp.js"></script>
[[ endblock ]]
