[[ extends 'base.html' ]]

[[ block body ]]
<div ng-app="riderApp">
    <div ng-controller="RiderController">
        <div class="row header">
            <div class="small-4 columns">
                <form ng-submit="create_rider()">
                    <h3>New Rider</h3>
                    <label>Name
                        <input type="text" ng-model="new_rider.name" required>
                    </label>
                    <div class="row">

                        <div class="small-6 columns">
                            <label>Number
                                <input type="text" ng-model="new_rider.number" required>
                            </label>
                        </div>

                        <div class="small-6 columns">
                            <label>Bike Type
                                <select ng-model="new_rider.bike_type"
                                    ng-options="type for type in bike_types">
                                </select>
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="small-4 columns">
                            <button class="btn">Create</button>
                        </div>
                        <div class="small-8 columns">
                            <div data-alert class="alert-box success" ng-if="create_success">
                                Created!
                                <a href="#" class="close" ng-click="clear_notifications()">&times;</a>
                            </div>
                            <div data-alert class="alert-box alert" ng-if="create_error">
                                {{ create_error }}
                                <a href="#" class="close" ng-click="clear_notifications()">&times;</a>
                            </div>
                        </div>
                    </div>
                </form>
                <h3>Riders</h3>
                <div ng-repeat="rider in riders">
                    <div class="row">
                        <div class="small-6 columns">
                            <a href="#" ng-click="select_rider(rider.number)">{{ rider.name }}</a>
                        </div>
                        <div class="small-4 columns">
                            <a href="#" class="button tiny alert" ng-click="delete_rider(rider.number)">DELETE</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="small-8 columns">
                <form ng-submit="update_rider()">
                    <h3>Selected</h3>
                    <div class="row">
                        <div class="small-6 columns">
                            <label>Name
                                <input type="text" ng-model="selected.name" value="{{ selected.name }}" required>
                            </label>
                        </div>
                        <div class="small-3 columns">
                            <label>Number
                                <input type="text" ng-model="selected.number" value="{{ selected.number }}" required>
                            </label>
                        </div>
                        <div class="small-3 columns">
                            <label>Bike Type
                                <select ng-model="selected.bike_type"
                                    ng-options="type for type in bike_types">
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-4 columns" ng-repeat="race in selected.races">
                            <label>{{ race.name }}
                                <input type="text" ng-model="race.time" value="{{ race.time }}">
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-4 columns">
                            <button class="btn">Update</button>
                        </div>
                        <div class="small-8 columns">
                            <div data-alert class="alert-box success" ng-if="update_success">
                                Saved!
                                <a href="#" class="close" ng-click="clear_notifications()">&times;</a>
                            </div>
                            <div data-alert class="alert-box alert" ng-if="update_error">
                                {{ update_error }}
                                <a href="#" class="close" ng-click="clear_notifications()">&times;</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="static/vendor/angular/angular.min.js"></script>
<script src="static/vendor/lodash/dist/lodash.min.js"></script>
<script src="static/js/riderApp.js"></script>
[[ endblock ]]
