<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="static/css/leaderboard.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body ng-app="leaderApp">
    <div ng-controller="LeaderboardController">
        <div class="table-wrap">
            <table class="leaderboard">
                <th><span>Riders</span></th>
                <th ng-repeat="race in rider_info[0].races">
                    <span>{{ race.name }}</span>
                </th>
                <tr ng-repeat="rider in rider_info">
                    <td>{{ $index + 1 }}&nbsp;&nbsp;<strong>{{ rider.name }}</strong></td>
                    <td ng-repeat="race in rider.races">{{ race.time }}</td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="/static/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/autobahn.min.js"></script>
    <script type="text/javascript" src="/static/js/leaderApp.js"></script>
</body>
</html>
