body {
    font-family: 'Open Sans';
    background-image: url('/static/images/Golden_Gate_Blurred.jpg');
}

table {
    border: 0;
}

.drt-logo {
    position: relative;
    top: 15px;
}

.runner-up {
    position: relative;
    top: 40px;
}

.runner-up img {
    width: 75%;
}

.place-spot {
    color: #fff;
    text-align: center;
}

.place-rank {
    font-size: 3em;
}

.table-wrap {
    overflow: scroll;
    height: 450px;
    width: 100%;
}

.leaderboard {
    border-collapse: collapse;
    width: 100%;
}

.leaderboard tr {
    background-color: #fff;
    height: 50px;
}

.leaderboard th {
    background-color: #6fb353;
    color: #fff;
    text-align: center;
}

.leaderboard th:first-child {
    border-left: 0;
}

.leaderboard td {
    border-right: 1px solid #6fb353;
    text-align: center;
}

.leaderboard tr:last-child {
    border-bottom: 0;
}

.leaderboard td:first-child {
    background-color: #2d2d2d;
    color: #fff;
    padding: 0 0 0 10px;
    text-align: left;
}

.bike-glyph {
    position: relative;
    top: 2px;
    width: 24px;
}

.completed {
    background-color: #d4eac9;
}
